body {
  background-color: pink;
}

ul {
  display: flex;
  justify-content: end;
  list-style-type: none;
  gap: 10px;
  margin: 0;
  padding: 0;
}
h1 {
  display: flex;
  justify-content: center;
}

h2 {
  display: flex;
  justify-content: start;
}
h3 {
  display: flex;
  justify-content: end;
}
img {
  display: flex;
  margin-right: auto;
  width: 200px;
  height:auto;
}
